For this first assignment we will study the golden ball player of the 2023 Women's World Cup, Aitana Bonmatí.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsbombpy import sb
from mplsoccer import Pitch

First of all let's find the competition we need.

In [2]:
competitions_df = sb.competitions()
competitions_df

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2023-08-17T23:51:11.837478,None,None,2023-08-17T23:51:11.837478
1,16,4,Europe,Champions League,male,False,False,2018/2019,2023-03-07T12:20:48.118250,2021-06-13T16:17:31.694,None,2023-03-07T12:20:48.118250
2,16,1,Europe,Champions League,male,False,False,2017/2018,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2021-01-23T21:55:30.425330
3,16,2,Europe,Champions League,male,False,False,2016/2017,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
4,16,27,Europe,Champions League,male,False,False,2015/2016,2021-08-27T11:26:39.802832,2021-06-13T16:17:31.694,None,2020-07-29T05:00
...,...,...,...,...,...,...,...,...,...,...,...,...
62,55,43,Europe,UEFA Euro,male,False,True,2020,2023-02-24T21:26:47.128979,2023-04-27T22:38:34.970148,2023-04-27T22:38:34.970148,2023-02-24T21:26:47.128979
63,35,75,Europe,UEFA Europa League,male,False,False,1988/1989,2023-06-18T19:28:39.443883,2021-06-13T16:17:31.694,None,2023-06-18T19:28:39.443883
64,53,106,Europe,UEFA Women's Euro,female,False,True,2022,2023-07-17T21:19:03.032991,2023-07-17T21:21:56.497106,2023-07-17T21:21:56.497106,2023-07-17T21:19:03.032991
65,72,107,International,Women's World Cup,female,False,True,2023,2023-09-01T12:34:19.705316,2023-09-01T12:35:45.762196,2023-09-01T12:35:45.762196,2023-09-01T12:34:19.705316
66,72,30,International,Women's World Cup,female,False,True,2019,2023-07-27T10:33:48.273734,2021-06-13T16:17:31.694,None,2023-07-27T10:33:48.273734

In [3]:
competitions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             67 non-null     int64
 1   season_id                  67 non-null     int64
 2   country_name               67 non-null     object
 3   competition_name           67 non-null     object
 4   competition_gender         67 non-null     object
 5   competition_youth          67 non-null     bool
 6   competition_international  67 non-null     bool
 7   season_name                67 non-null     object
 8   match_updated              67 non-null     object
 9   match_updated_360          51 non-null     object
 10  match_available_360        5 non-null      object
 11  match_available            67 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 5.5+ KB

In [4]:
competitions_df.competition_name.unique()

array(['1. Bundesliga', 'Champions League', 'Copa del Rey',
       "FA Women's Super League", 'FIFA U20 World Cup', 'FIFA World Cup',
       'Indian Super league', 'La Liga', 'Liga Profesional', 'Ligue 1',
       'North American League', 'NWSL', 'Premier League', 'Serie A',
       'UEFA Euro', 'UEFA Europa League', "UEFA Women's Euro",
       "Women's World Cup"], dtype=object)

In [5]:
competition_name = "Women's World Cup"
competitions_df[competitions_df['competition_name'] == competition_name]

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
65,72,107,International,Women's World Cup,female,False,True,2023,2023-09-01T12:34:19.705316,2023-09-01T12:35:45.762196,2023-09-01T12:35:45.762196,2023-09-01T12:34:19.705316
66,72,30,International,Women's World Cup,female,False,True,2019,2023-07-27T10:33:48.273734,2021-06-13T16:17:31.694,None,2023-07-27T10:33:48.273734

In [6]:
competition_id = 72
season_id = 107

wwc2023 = competitions_df[(competitions_df['competition_id'] == competition_id) & (competitions_df['season_id'] == season_id)]
wwc2023

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
65,72,107,International,Women's World Cup,female,False,True,2023,2023-09-01T12:34:19.705316,2023-09-01T12:35:45.762196,2023-09-01T12:35:45.762196,2023-09-01T12:34:19.705316

In [48]:
help(sb.competition_events)

Help on function competition_events in module statsbombpy.sb:

competition_events(country: str, division: str, season: str, gender: str = 'male', split: bool = False, filters: dict = {}, fmt: str = 'dataframe', creds: dict = {'user': None, 'passwd': None}, include_360_metrics=False) -> Union[pandas.core.frame.DataFrame, dict]

In [7]:
matches_df = sb.matches(competition_id, season_id)
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match_id               64 non-null     int64
 1   match_date             64 non-null     object
 2   kick_off               64 non-null     object
 3   competition            64 non-null     object
 4   season                 64 non-null     object
 5   home_team              64 non-null     object
 6   away_team              64 non-null     object
 7   home_score             64 non-null     int64
 8   away_score             64 non-null     int64
 9   match_status           64 non-null     object
 10  match_status_360       64 non-null     object
 11  last_updated           64 non-null     object
 12  last_updated_360       64 non-null     object
 13  match_week             64 non-null     int64
 14  competition_stage      64 non-null     object
 15  stadium                64 non-null     object
 16  referee                63 non-null     object
 17  home_managers          64 non-null     object
 18  away_managers          64 non-null     object
 19  data_version           64 non-null     object
 20  shot_fidelity_version  64 non-null     object
 21  xy_fidelity_version    64 non-null     object
dtypes: int64(4), object(18)
memory usage: 11.1+ KB

In [8]:
unique_home_teams = set(matches_df['home_team'])
unique_away_teams = set(matches_df['away_team'])

unique_teams = unique_home_teams.union(unique_away_teams)
unique_teams

{"Argentina Women's",
 "Australia Women's",
 "Brazil Women's",
 "Canada Women's",
 "China PR Women's",
 "Colombia Women's",
 "Costa Rica Women's",
 "Denmark Women's",
 "England Women's",
 "France Women's",
 "Germany Women's",
 "Haiti Women's",
 "Italy Women's",
 "Jamaica Women's",
 "Japan Women's",
 "Korea Republic Women's",
 "Morocco Women's",
 "Netherlands Women's",
 "New Zealand Women's",
 "Nigeria Women's",
 "Norway Women's",
 "Panama Women's",
 "Philippines Women's",
 "Portugal Women's",
 "Republic of Ireland Women's",
 "South Africa Women's",
 "Spain Women's",
 "Sweden Women's",
 "Switzerland Women's",
 "United States Women's",
 "Vietnam Women's",
 "Zambia Women's"}

In [9]:
team_name = "Spain Women's"
team_mask = (matches_df['home_team'] == team_name) | (matches_df['away_team'] == team_name)
team_matches_df = matches_df[team_mask]
team_matches_df

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,...,last_updated_360,match_week,competition_stage,stadium,referee,home_managers,away_managers,data_version,shot_fidelity_version,xy_fidelity_version
1,3906390,2023-08-20,13:00:00.000,International - Women's World Cup,2023,Spain Women's,England Women's,1,0,available,...,2023-08-22T19:38:43.965521,7,Final,Accor Stadium,Tori Penso,Jorge Vilda,Sarina Glotzbach-Wiegman,1.1.0,2,2
3,3904628,2023-08-15,11:00:00.000,International - Women's World Cup,2023,Spain Women's,Sweden Women's,2,1,available,...,2023-08-16T11:30:31.556462,6,Semi-finals,Eden Park,Edina Alves Batista,Jorge Vilda,Peter Gerhardsson,1.1.0,2,2
4,3893806,2023-07-26,10:30:00.000,International - Women's World Cup,2023,Spain Women's,Zambia Women's,5,0,available,...,2023-08-15T02:58:57.266594,2,Group Stage,Eden Park,Hyeon-Jeong Oh,Jorge Vilda,Bruce Mwape,1.1.0,2,2
7,3893822,2023-07-31,10:00:00.000,International - Women's World Cup,2023,Japan Women's,Spain Women's,4,0,available,...,2023-08-15T03:20:22.749909,3,Group Stage,Wellington Regional Stadium,Katja Koroleva,Futoshi Ikeda,Jorge Vilda,1.1.0,2,2
15,3902240,2023-08-11,04:00:00.000,International - Women's World Cup,2023,Spain Women's,Netherlands Women's,2,1,available,...,2023-08-14T09:22:25.109084,5,Quarter-finals,Wellington Regional Stadium,Stéphanie Frappart,Jorge Vilda,Andries Jonker,1.1.0,2,2
23,3901733,2023-08-05,08:00:00.000,International - Women's World Cup,2023,Switzerland Women's,Spain Women's,1,5,available,...,2023-08-27T22:14:35.209354,4,Round of 16,Eden Park,Cheryl Foster,Inka Grings,Jorge Vilda,1.1.0,2,2
37,3893791,2023-07-21,10:30:00.000,International - Women's World Cup,2023,Spain Women's,Costa Rica Women's,3,0,available,...,2023-08-24T15:33:45.726341,1,Group Stage,Wellington Regional Stadium,Casey Reibelt,Jorge Vilda,Amelia Valverde,1.1.0,2,2

In [10]:
team_matches_id = list(team_matches_df.match_id)
team_matches_id

[3906390, 3904628, 3893806, 3893822, 3902240, 3901733, 3893791]

In [21]:
dataframes_to_concatenate = []
for match_id in team_matches_id:
    events = sb.events(match_id)
    dataframes_to_concatenate.append(events)
    
wwc2023_spain_matches_events = pd.concat(dataframes_to_concatenate, ignore_index=True)

In [22]:
team_events_mask = wwc2023_spain_matches_events['team'] == team_name
wwc2023_spain_events = wwc2023_spain_matches_events[team_events_mask]

In [23]:
passes2_df = wwc2023_spain_events[wwc2023_spain_events.type == 'Pass']
passes2_df

,50_50,ball_receipt_outcome,ball_recovery_offensive,ball_recovery_recovery_failure,block_deflection,carry_end_location,clearance_aerial_won,clearance_body_part,clearance_head,clearance_left_foot,...,block_offensive,foul_committed_offensive,injury_stoppage_in_chain,pass_miscommunication,shot_one_on_one,goalkeeper_lost_in_play,goalkeeper_shot_saved_to_post,shot_open_goal,shot_saved_to_post,foul_won_penalty
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
passes2_df.groupby('match_id').size().reset_index(name='count')

   match_id  count
0   3893791    671
1   3893806    784
2   3893822    939
3   3901733    727
4   3902240    757
5   3904628    558
6   3906390    519

In [14]:
wwc2023_events = sb.competition_events(
    country=wwc2023['country_name'].iloc[0],
    division=wwc2023['competition_name'].iloc[0],
    season=wwc2023['season_name'].iloc[0],
    gender=wwc2023['competition_gender'].iloc[0]
)
wwc2023_team_events = wwc2023_events[wwc2023_events['team'] == team_name]
wwc2023_team_events

,50_50,bad_behaviour_card,ball_receipt_outcome,ball_recovery_offensive,ball_recovery_recovery_failure,block_deflection,block_offensive,block_save_block,carry_end_location,clearance_aerial_won,...,shot_technique,shot_type,substitution_outcome,substitution_replacement,tactics,team,team_id,timestamp,type,under_pressure
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"{'formation': 4231, 'lineup': [{'player': {'id...",Spain Women's,863,00:00:00.000,Starting XI,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"{'formation': 433, 'lineup': [{'player': {'id'...",Spain Women's,863,00:00:00.000,Starting XI,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"{'formation': 433, 'lineup': [{'player': {'id'...",Spain Women's,863,00:00:00.000,Starting XI,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"{'formation': 433, 'lineup': [{'player': {'id'...",Spain Women's,863,00:00:00.000,Starting XI,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"{'formation': 433, 'lineup': [{'player': {'id'...",Spain Women's,863,00:00:00.000,Starting XI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:06:28.275,Referee Ball-Drop,NaN
225998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:47:51.518,Referee Ball-Drop,NaN
226120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:06:49.634,Offside,NaN
226133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:20:13.124,Own Goal For,NaN
226139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:10:54.772,Own Goal Against,NaN

In [56]:
wwc2023_team_events.type.unique()

array(['Starting XI', 'Half Start', 'Pass', 'Ball Receipt*', 'Carry',
       'Ball Recovery', 'Pressure', 'Miscontrol', 'Foul Committed',
       'Foul Won', 'Duel', 'Clearance', 'Dispossessed', '50/50', 'Block',
       'Dribbled Past', 'Dribble', 'Shot', 'Goal Keeper', 'Interception',
       'Half End', 'Tactical Shift', 'Shield', 'Substitution',
       'Injury Stoppage', 'Player Off', 'Player On', 'Referee Ball-Drop',
       'Offside', 'Own Goal For', 'Own Goal Against'], dtype=object)

In [15]:
passes_df = wwc2023_team_events[wwc2023_team_events.type == 'Pass']
passes_df

,50_50,bad_behaviour_card,ball_receipt_outcome,ball_recovery_offensive,ball_recovery_recovery_failure,block_deflection,block_offensive,block_save_block,carry_end_location,clearance_aerial_won,...,shot_technique,shot_type,substitution_outcome,substitution_replacement,tactics,team,team_id,timestamp,type,under_pressure
1310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:00:11.552,Pass,NaN
1311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:00:12.281,Pass,NaN
1313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:00:33.179,Pass,NaN
1314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:00:35.109,Pass,True
1328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:02:07.812,Pass,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:48:43.398,Pass,NaN
36298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:48:48.966,Pass,True
36300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:49:39.733,Pass,True
36301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:49:47.881,Pass,NaN
36302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Spain Women's,863,00:49:49.887,Pass,NaN

In [27]:
passes_df.groupby('match_id').size().reset_index(name='count')

   match_id  count
0   3893791    671
1   3893806    784
2   3893822    939
3   3901733    727
4   3902240    757
5   3904628    558
6   3906390    519

In [ ]:
for column in passes_df.columns:
    print(column)

In [67]:
cols = ['id', 'player_id', 'location', 'match_id', 'timestamp', 'pass_body_part', 'pass_end_location', 'pass_height', 'pass_outcome', 'pass_shot_assist', 'pass_goal_assist', 'pass_through_ball', 'pass_type', 'under_pressure']
cols

['id',
 'player_id',
 'location',
 'match_id',
 'timestamp',
 'pass_body_part',
 'pass_end_location',
 'pass_height',
 'pass_outcome',
 'pass_shot_assist',
 'pass_goal_assist',
 'pass_through_ball',
 'pass_type',
 'under_pressure']

In [69]:
passes_df[cols].pass_body_part.unique()

array(['Head', nan, 'Right Foot', 'Keeper Arm', 'Left Foot', 'Drop Kick',
       'Other', 'No Touch'], dtype=object)

In [73]:
passes_df[cols].pass_outcome.unique()

array([nan, 'Incomplete', 'Out', 'Unknown', 'Pass Offside',
       'Injury Clearance'], dtype=object)

In [75]:
passes_df[cols].pass_through_ball.unique()

array([nan, True], dtype=object)

In [71]:
passes_df[cols].pass_type.unique()

array(['Recovery', nan, 'Throw-in', 'Free Kick', 'Goal Kick',
       'Interception', 'Kick Off', 'Corner'], dtype=object)

In [70]:
passes_df[cols].under_pressure.unique()

array([nan, True], dtype=object)

In [19]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3581 entries, 0 to 3580
Data columns (total 91 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   50_50                           8 non-null      object
 1   ball_receipt_outcome            183 non-null    object
 2   ball_recovery_offensive         2 non-null      object
 3   ball_recovery_recovery_failure  14 non-null     object
 4   block_deflection                1 non-null      object
 5   carry_end_location              741 non-null    object
 6   clearance_aerial_won            10 non-null     object
 7   clearance_body_part             54 non-null     object
 8   clearance_head                  25 non-null     object
 9   clearance_left_foot             15 non-null     object
 10  clearance_other                 1 non-null      object
 11  clearance_right_foot            13 non-null     object
 12  counterpress                    146 non-null    object
 13  dribble_nutmeg                  2 non-null      object
 14  dribble_outcome                 26 non-null     object
 15  dribble_overrun                 4 non-null      object
 16  duel_outcome                    44 non-null     object
 17  duel_type                       84 non-null     object
 18  duration                        2684 non-null   float64
 19  foul_committed_advantage        6 non-null      object
 20  foul_committed_card             2 non-null      object
 21  foul_committed_penalty          1 non-null      object
 22  foul_committed_type             3 non-null      object
 23  foul_won_advantage              6 non-null      object
 24  foul_won_defensive              6 non-null      object
 25  goalkeeper_body_part            7 non-null      object
 26  goalkeeper_end_location         14 non-null     object
 27  goalkeeper_outcome              10 non-null     object
 28  goalkeeper_position             22 non-null     object
 29  goalkeeper_technique            8 non-null      object
 30  goalkeeper_type                 24 non-null     object
 31  id                              3581 non-null   object
 32  index                           3581 non-null   int64
 33  interception_outcome            15 non-null     object
 34  location                        3551 non-null   object
 35  match_id                        3581 non-null   int64
 36  minute                          3581 non-null   int64
 37  miscontrol_aerial_won           4 non-null      object
 38  off_camera                      51 non-null     object
 39  out                             38 non-null     object
 40  pass_aerial_won                 24 non-null     object
 41  pass_angle                      927 non-null    float64
 42  pass_assisted_shot_id           16 non-null     object
 43  pass_body_part                  856 non-null    object
 44  pass_cross                      28 non-null     object
 45  pass_cut_back                   2 non-null      object
 46  pass_deflected                  1 non-null      object
 47  pass_end_location               927 non-null    object
 48  pass_goal_assist                1 non-null      object
 49  pass_height                     927 non-null    object
 50  pass_inswinging                 6 non-null      object
 51  pass_length                     927 non-null    float64
 52  pass_no_touch                   1 non-null      object
 53  pass_outcome                    213 non-null    object
 54  pass_outswinging                2 non-null      object
 55  pass_recipient                  897 non-null    object
 56  pass_shot_assist                15 non-null     object
 57  pass_straight                   1 non-null      object
 58  pass_switch                     25 non-null     object
 59  pass_technique                  12 non-null     object
 60  pass_through_ball               3 non-null      object
 61  pass_type                       202 non-null    object
 62  period                          3581 non-null   int64
 63  play_pattern                    3581 non-null   object
 64  player                          3567 non-null   object
 65  player_id                       3567 non-null   float64
 66  position                        3567 non-null   object
 67  possession                      3581 non-null   int64
 68  possession_team                 3581 non-null   object
 69  possession_team_id              3581 non-null   int64
 70  related_events                  3420 non-null   object
 71  second                          3581 non-null   int64
 72  shot_aerial_won                 2 non-null      object
 73  shot_body_part                  22 non-null     object
 74  shot_deflected                  1 non-null      object
 75  shot_end_location               22 non-null     object
 76  shot_first_time                 11 non-null     object
 77  shot_freeze_frame               21 non-null     object
 78  shot_key_pass_id                16 non-null     object
 79  shot_outcome                    22 non-null     object
 80  shot_statsbomb_xg               22 non-null     float64
 81  shot_technique                  22 non-null     object
 82  shot_type                       22 non-null     object
 83  substitution_outcome            6 non-null      object
 84  substitution_replacement        6 non-null      object
 85  tactics                         6 non-null      object
 86  team                            3581 non-null   object
 87  team_id                         3581 non-null   int64
 88  timestamp                       3581 non-null   object
 89  type                            3581 non-null   object
 90  under_pressure                  957 non-null    object
dtypes: float64(5), int64(8), object(78)
memory usage: 2.5+ MB

In [21]:
events.type.unique()

array(['Starting XI', 'Half Start', 'Pass', 'Ball Receipt*', 'Carry',
       'Pressure', 'Ball Recovery', 'Dispossessed', 'Duel', 'Clearance',
       'Miscontrol', 'Foul Committed', 'Foul Won', 'Block', 'Shot',
       'Goal Keeper', 'Dribbled Past', 'Dribble', 'Interception', '50/50',
       'Shield', 'Half End', 'Substitution', 'Tactical Shift',
       'Injury Stoppage', 'Player Off', 'Player On'], dtype=object)

In [23]:
shot_events = events[events['type'] == 'Shot']
shot_events['end_z'].max()

KeyError: 'end_z'

In [25]:
shot_events['shot_end_location']

3440    [118.1, 44.0, 0.2]
3441    [120.0, 37.5, 2.8]
3442         [116.2, 46.0]
3443    [119.1, 39.7, 0.6]
3444    [117.7, 44.0, 1.2]
3445    [120.0, 43.5, 0.2]
3446    [120.0, 48.1, 1.4]
3447         [104.2, 58.6]
3448    [120.0, 44.0, 0.2]
3449    [119.3, 43.3, 0.5]
3450    [120.0, 35.0, 0.8]
3451    [120.0, 43.5, 3.5]
3452    [119.2, 43.2, 0.2]
3453    [120.0, 47.0, 5.5]
3454    [118.3, 35.4, 2.2]
3455         [101.6, 25.5]
3456         [110.5, 31.2]
3457         [115.3, 44.5]
3458    [116.8, 45.6, 0.2]
3459         [101.0, 44.0]
3460         [108.4, 27.8]
3461         [110.9, 45.1]
Name: shot_end_location, dtype: object

In [15]:
related

,match_id,id,index,type_name,id_related,index_related,type_name_related
0,3906390,62cea4b4-febc-4df9-8df0-a134ed91e70f,3,Half Start,ebcc30be-9a0a-4f38-b241-8c8dd9834589,4,Half Start
1,3906390,ebcc30be-9a0a-4f38-b241-8c8dd9834589,4,Half Start,62cea4b4-febc-4df9-8df0-a134ed91e70f,3,Half Start
2,3906390,30728cd8-f0a6-4535-8f24-16a37a1d4f08,5,Pass,b796b4f0-d521-4d6a-903e-b63c45120ec9,6,Ball Receipt
3,3906390,b796b4f0-d521-4d6a-903e-b63c45120ec9,6,Ball Receipt,30728cd8-f0a6-4535-8f24-16a37a1d4f08,5,Pass
4,3906390,76afccc4-d025-4975-bf15-f7384554b440,7,Carry,b796b4f0-d521-4d6a-903e-b63c45120ec9,6,Ball Receipt
...,...,...,...,...,...,...,...
5481,3906390,3228aa01-0ef3-457c-806d-50215bbc1bf5,3546,Ball Receipt,38fa2936-df7d-4d86-a1d8-840a1aac8ea6,3547,Carry
5496,3906390,30b2d665-2681-4dd9-a1e8-c0358889de03,3560,Pass,4abf3010-082d-408f-ba16-1b16f2ff1e58,3559,Carry
5497,3906390,59546f86-f5c5-49fa-af97-d9d1db1fa288,3558,Ball Receipt,4abf3010-082d-408f-ba16-1b16f2ff1e58,3559,Carry
5502,3906390,66e5ed74-7093-4469-b698-3edfc9b06cef,3561,Ball Receipt,d298e5eb-aff8-4f78-89d0-06513bc97d38,3562,Carry
5503,3906390,e4796a58-3de4-4afd-9b14-ffa440c16b7f,3563,Pass,d298e5eb-aff8-4f78-89d0-06513bc97d38,3562,Carry

In [12]:
help(parser)

Help on Sbopen in module mplsoccer.statsbomb object:

class Sbopen(builtins.object)
 |  Sbopen(dataframe=True)
 |
 |  Class for loading data from the StatsBomb open-data.
 |  The data is available at: https://github.com/statsbomb/open-data under
 |  a non-commercial license.
 |
 |  Parameters
 |  ----------
 |  dataframe : bool, default True
 |      Whether to return dataframes (True) or flattened list of dictionaries (False)
 |      from the class methods.
 |
 |  Methods defined here:
 |
 |  __init__(self, dataframe=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  competition(self)
 |      StatsBomb competition open-data.
 |
 |      Returns
 |      -------
 |      competition
 |          A dataframe or a flattened list of dictionaries.
 |
 |      Examples
 |      --------
 |      >>> from mplsoccer import Sbopen
 |      >>> parser = Sbopen(dataframe=True)
 |      >>> competition = parser.competition()
 |
 |  event(self, match_id)
 |      StatsBomb event open-data.
 |
 |      Parameters
 |      ----------
 |      match_id : int
 |
 |      Returns
 |      -------
 |      events, related, freeze, tactics
 |          Either dataframes or flattened list of dictionaries.
 |
 |      Examples
 |      --------
 |      >>> from mplsoccer import Sbopen
 |      >>> parser = Sbopen(dataframe=True)
 |      >>> events, related, freeze, tactics = parser.event(3788741)
 |
 |  frame(self, match_id)
 |      StatsBomb 360 open-data.
 |
 |      Parameters
 |      ----------
 |      match_id : int
 |
 |      Returns
 |      -------
 |      frames, visible
 |          Either dataframes or flattened list of dictionaries.
 |
 |      Examples
 |      --------
 |      >>> from mplsoccer import Sbopen
 |      >>> parser = Sbopen(dataframe=True)
 |      >>> frames, visible = parser.frame(3788741)
 |
 |  lineup(self, match_id)
 |      StatsBomb lineup open-data.
 |
 |      Parameters
 |      ----------
 |      match_id : int
 |
 |      Returns
 |      -------
 |      lineups
 |          A dataframe or a flattened list of dictionaries.
 |
 |      Examples
 |      --------
 |      >>> from mplsoccer import Sbopen
 |      >>> parser = Sbopen(dataframe=True)
 |      >>> lineups = parser.lineup(3788741)
 |
 |  match(self, competition_id, season_id)
 |      StatsBomb match open-data.
 |
 |      Parameters
 |      ----------
 |      competition_id : int
 |      season_id : int
 |
 |      Returns
 |      -------
 |      matches
 |          A dataframe or a flattened list of dictionaries.
 |
 |      Examples
 |      --------
 |      >>> from mplsoccer import Sbopen
 |      >>> parser = Sbopen(dataframe=True)
 |      >>> matches = parser.match(11, 1)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)